# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env
*.env

# Database
*.db

# Logs
*.log

# Node.js
node_modules/
package-lock.json
pnpm-lock.yaml

# ChromaDB
chroma_db/

# IDE/editor config
.idea/
.vscode/

# macOS
.DS_Store
